@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Teko&family=Ysabeau+SC:wght@1000&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  font-family: "Teko", sans-serif;
  font-family: "Ysabeau SC", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tarjetas .carta {
  width: 250px;
  height: 350px;
  object-fit: cover;
  border: 2px solid #000;
  box-sizing: border-box;
  margin: 10px;
  margin-top: 20px;
  border-radius: 8px;
  position: relative;
  color: #030200;
}
.tarjetas .carta img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 2px solid #000;
  border-radius: 5px 5px 0px 0px;
}
.tarjetas .carta p {
  padding: 5px;
  font-size: 1rem;
}
.tarjetas .carta h5 {
  font-size: 1.3rem;
}
.tarjetas .carta button {
  position: relative;
  left: 37%;
  top: 90%;
}
.tarjetas .barra-carta {
  width: 100%;
  margin: 10px;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: black;
}
.tarjetas .barra-carta hr {
  height: 6px;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: #f9c242;
}

.promocion {
  width: 100%;
  height: 60px;
  background-color: #473200;
  text-align: center;
  color: #FFD87B;
  font-size: 25px;
  text-shadow: 2px 2px 0px #df0c0c;
}

.tarjetas .carta button {
  height: 25px;
  width: 140px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
  position: absolute;
}
.tarjetas .carta button:hover {
  background-color: #FFD87B;
  color: #000000;
  height: 30px;
  width: 150px;
  transition: 0.5s;
}

.padre-columnas .columnas {
  border: 1px ridge rgba(178, 177, 177, 0.35);
  border-radius: 9px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.16);
}

.padre-menu .tragos-autor, .padre-menu .padre-carousel, .padre-menu .buenos-sabores, .nosotros {
  display: flex;
  width: 800px;
  height: 400px;
  margin: 2%;
  border: 1px ridge rgba(178, 177, 177, 0.35);
  border-radius: 0px 9px 9px 0px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.16);
}
.padre-menu .tragos-autor img, .padre-menu .padre-carousel img, .padre-menu .buenos-sabores img, .nosotros img {
  height: 398px;
  width: 400px;
  object-fit: cover;
  border-right: 2px ridge rgba(178, 177, 177, 0.35);
}
.padre-menu .tragos-autor .texto-carousel, .padre-menu .padre-carousel .texto-carousel, .padre-menu .buenos-sabores .texto-carousel, .nosotros .texto-carousel {
  width: 400px;
  height: 400px;
  color: rgb(0, 0, 0);
  padding: 1%;
  display: flexbox;
  text-align: center;
  justify-content: center;
}
.padre-menu .tragos-autor .texto-carousel h5, .padre-menu .padre-carousel .texto-carousel h5, .padre-menu .buenos-sabores .texto-carousel h5, .nosotros .texto-carousel h5 {
  text-align: center;
  font-size: 1.7rem;
}
.padre-menu .tragos-autor .texto-carousel h6, .padre-menu .padre-carousel .texto-carousel h6, .padre-menu .buenos-sabores .texto-carousel h6, .nosotros .texto-carousel h6 {
  font-size: 1rem;
}

.footer {
  display: flex;
  background-color: #473200;
  color: #FFD87B;
  border: 10px solid #1f1600;
  border-radius: 5px;
}
.footer .redes {
  align-items: center;
  justify-content: center;
}
.footer .redes .logo-form {
  background-position: right;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.footer .ubicacion {
  width: 250px;
  text-align: center;
  padding: 10px 10px;
  font-size: 15px;
}
.footer .form {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: black;
  margin: 5px;
}
.footer .form button {
  align-items: center;
  flex-direction: column;
  margin: 3px;
  width: 140px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}
.footer .form button:hover {
  background-color: #FFD87B;
  color: #000000;
  height: 30px;
  width: 150px;
  transition: 0.5s;
}

.footer2 {
  display: flex;
  background-color: #473200;
  color: #FFD87B;
  border: 10px solid #1f1600;
  border-radius: 5px;
}
.footer2 .redes {
  align-items: center;
  justify-content: center;
}
.footer2 .redes .logo-form {
  background-position: right;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.footer2 .ubicacion {
  width: 250px;
  text-align: center;
  padding: 10px 10px;
  font-size: 15px;
}
.footer2 .form {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: black;
  margin: 5px;
}
.footer2 .form button {
  align-items: center;
  flex-direction: column;
  margin: 3px;
  width: 140px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}
.footer2 .form button:hover {
  background-color: #FFD87B;
  color: #000000;
  height: 30px;
  width: 150px;
  transition: 0.5s;
}

.footer3 {
  display: flex;
  background-color: #473200;
  color: #FFD87B;
  border: 10px solid #1f1600;
  border-radius: 5px;
}
.footer3 .redes {
  align-items: center;
  justify-content: center;
}
.footer3 .redes .logo-form {
  background-position: right;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.footer3 .ubicacion {
  width: 250px;
  text-align: center;
  padding: 10px 10px;
  font-size: 15px;
}
.footer3 .form {
  display: flex;
  flex-direction: column;
  width: 80%;
  color: black;
  margin: 5px;
}
.footer3 .form button {
  align-items: center;
  flex-direction: column;
  margin: 3px;
  width: 140px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border-radius: 5px;
}
.footer3 .form button:hover {
  background-color: #FFD87B;
  color: #000000;
  height: 30px;
  width: 150px;
  transition: 0.5s;
}

.nosotros {
  display: flex;
}
.nosotros img {
  height: 398px;
  width: 400px;
  object-fit: cover;
  border-right: 2px ridge rgba(178, 177, 177, 0.35);
}
.nosotros .texto-nosotros {
  text-align: center;
  padding: 2%;
  margin-top: 10px;
}

.titulo {
  display: flex;
  background-image: url(../multimedia/img/local\ 2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-top: 50px;
  background-attachment: fixed;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.titulo .texto-titulo h4 {
  color: #ffd77b;
  font-size: 64px;
  text-shadow: 5px 5px 0px #df0c0c;
  font-family: "Bebas Neue", sans-serif;
}
.titulo .texto-titulo h5 {
  color: #FFD87B;
  font-size: 50px;
  text-shadow: 5px 5px 0px #df0c0c;
  font-family: "Bebas Neue", sans-serif;
}

.padre-columnas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.padre-columnas .columnas {
  height: 400px;
  width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 2%;
}
.padre-columnas .columnas .texto-columnas {
  display: flex;
  flex-direction: column;
  width: 390px;
  height: 400px;
  padding: 8px;
}
.padre-columnas .columnas .texto-columnas p {
  text-align: center;
  font-size: 2rem;
  color: #000;
}
.padre-columnas .relleno {
  display: flex;
  width: 400px;
  height: 400px;
  margin: 2%;
}
.padre-columnas .relleno img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.columnas2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.grid {
  display: grid;
  margin: 3rem;
  border: 5px solid #000;
  border-radius: 5px;
  gap: 5px;
  background-color: #000;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-template-areas: "img1 img2 img3 img4" "img5 img5 img3 img6";
}
.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid .img1 {
  grid-area: img1;
}
.grid .img2 {
  grid-area: img2;
}
.grid .img3 {
  grid-area: img3;
}
.grid .img4 {
  grid-area: img4;
}
.grid .img5 {
  grid-area: img5;
}
.grid .img6 {
  grid-area: img6;
}

nav {
  background-color: #473200;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0%;
  z-index: 1;
}

.lista-nav {
  display: flex;
  justify-content: start;
  border-bottom: 2px solid #000;
}
.lista-nav .img-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 20px;
}
.lista-nav ul {
  display: flex;
  justify-content: left;
  list-style: none;
  padding: 10px;
}
.lista-nav ul li a {
  color: #FFD87B;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  padding: 10px 30px;
  font-size: 25px;
}

.padre-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2%;
}
.padre-menu .buenos-sabores {
  display: flex;
}
.padre-menu .buenos-sabores img {
  height: 398px;
  width: 400px;
  object-fit: cover;
  border-right: 2px ridge rgba(178, 177, 177, 0.35);
}
.padre-menu .buenos-sabores .texto-carousel {
  padding-top: 5rem;
}
.padre-menu .padre-carousel .carousel-inner {
  display: flex;
  height: 400px;
  width: 400px;
  padding-right: 3px;
}
.padre-menu .padre-carousel .carousel-inner img {
  height: 398px;
  width: 400px;
  object-fit: cover;
  border-right: 2px ridge rgba(178, 177, 177, 0.35);
}
.padre-menu .tragos-autor img {
  object-fit: cover;
}
.padre-menu .tragos-autor .texto-carousel {
  padding-top: 5rem;
}

.padre-pedido {
  margin: 2%;
  width: 94vw;
  height: 800px;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: start;
  position: relative;
  overflow: hidden;
  padding: 1%;
}
.padre-pedido .pedidos {
  margin: 1%;
}
.padre-pedido .pedidos h5 {
  color: black;
  font-size: 2rem;
}
.padre-pedido .pedidos hr {
  height: 4px;
  border: none;
  border-radius: 15px;
  background-color: #f9c242;
}
.padre-pedido .total {
  position: relative;
  top: 70%;
  left: 30%;
}
.padre-pedido .total h5 {
  font-size: 1.4rem;
  color: black;
}
.padre-pedido .total hr {
  height: 3px;
  border: none;
  border-radius: 15px;
  background-color: #df0c0c;
}

.padre-pedido::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(#df0c0c 2deg, transparent 100deg);
  animation: rotar 8s linear infinite;
  z-index: -1;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.padre-pedido::after {
  content: "";
  position: absolute;
  height: 98%;
  width: 98%;
  background-color: beige;
  z-index: -1;
}

@media (max-width: 1100px) {
  .padre-columnas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .lista-nav {
    display: block;
    width: 100%;
    height: auto;
    position: static;
  }
  .lista-nav .img-logo {
    display: none;
  }
  .lista-nav ul {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .titulo {
    margin: 0px;
  }
  .padre-columnas {
    flex-direction: column;
  }
  .columnas {
    display: flex;
    flex-direction: row;
    margin: 10px;
  }
}
@media (max-width: 768px) {
  .lista-nav {
    display: block;
    width: 100%;
    height: auto;
    position: static;
  }
  .lista-nav .img-logo {
    display: none;
  }
  .lista-nav ul {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .titulo {
    margin: 0px;
  }
  .padre-columnas {
    display: flex;
    flex-direction: row;
  }
  .padre-columnas .columnas {
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .padre-columnas .texto-columnas {
    display: flex;
    flex-direction: row;
  }
  .nosotros {
    display: block;
    flex-direction: row;
    height: 740px;
    width: 450px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 15%;
  }
  .nosotros img {
    width: 100%;
    height: 400px;
  }
  .nosotros .texto-nosotros {
    text-align: center;
    justify-content: center;
  }
  .padre-menu {
    display: block;
    flex-direction: row;
    height: 800px;
    width: 400px;
    gap: 10px;
    padding-left: 22%;
  }
  .padre-menu .buenos-sabores {
    display: block;
    flex-direction: row;
    height: 800px;
    width: 400px;
  }
  .padre-menu .texto-carousel {
    text-align: center;
    justify-content: center;
    position: relative;
    top: 0%;
  }
  .padre-menu .padre-carousel {
    height: 800px;
    width: 400px;
    display: block;
    flex-direction: row;
  }
  .padre-menu .tragos-autor {
    height: 700px;
    width: 400px;
    display: block;
    flex-direction: row;
  }
  .footer3 {
    position: relative;
    margin-top: 200%;
    padding-left: 30%;
  }
}
@media (max-width: 576px) {
  .lista-nav {
    display: block;
    width: 100%;
    height: auto;
    position: static;
  }
  .lista-nav .img-logo {
    display: none;
  }
  .lista-nav ul {
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .titulo {
    margin: 0px;
  }
  .padre-columnas {
    display: flex;
    flex-direction: row;
  }
  .padre-columnas .columnas {
    height: 100%;
    width: 400px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .padre-columnas .texto-columnas {
    display: flex;
    flex-direction: row;
  }
  .nosotros {
    display: block;
    flex-direction: row;
    height: 740px;
    width: 450px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 15%;
  }
  .nosotros img {
    width: 100%;
    height: 400px;
  }
  .nosotros .texto-nosotros {
    text-align: center;
    justify-content: center;
  }
  .padre-menu {
    display: block;
    flex-direction: row;
    height: 800px;
    width: 400px;
    gap: 10px;
    padding-left: 8px;
  }
  .padre-menu .buenos-sabores {
    display: block;
    flex-direction: row;
    height: 800px;
    width: 400px;
  }
  .padre-menu .texto-carousel {
    text-align: center;
    justify-content: center;
    position: relative;
    top: 0%;
  }
  .padre-menu .padre-carousel {
    height: 800px;
    width: 400px;
    display: block;
    flex-direction: row;
  }
  .padre-menu .tragos-autor {
    height: 700px;
    width: 400px;
    display: block;
    flex-direction: row;
  }
  .footer {
    position: relative;
    margin-top: 110%;
    padding-left: 30%;
  }
  .footer3 {
    position: relative;
    margin-top: 270%;
    padding-left: 30%;
  }
}

/*# sourceMappingURL=styles.css.map */
