.nosotros{
        display: flex;
        @extend %cajas-menu;
                img{
                        height: 398px;
                        width: 400px;
                        object-fit: cover;
                        border-right:2px ridge rgba(178, 177, 177, 0.35);
                }
                .texto-nosotros{
                        text-align: center;
                        padding: 2%;
                        margin-top: 10px;
                }
}  


