.padre-menu{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2%;
        .buenos-sabores{
            display: flex;
            @extend %cajas-menu;
            img{
                height: 398px;
                width: 400px;
                object-fit: cover;
                border-right:2px ridge rgba(178, 177, 177, 0.35);
            }
            .texto-carousel{
                padding-top: 5rem;
            } 
        } 

        .padre-carousel{
            @extend %cajas-menu;
                .carousel-inner{
                    display: flex;
                    height: 400px;
                    width: 400px;
                    padding-right: 3px;
                        img{
                            height: 398px;
                            width: 400px;
                            object-fit: cover;
                            border-right:2px ridge rgba(178, 177, 177, 0.35);
                        }
                }
        }

        .tragos-autor{
            @extend %cajas-menu;
                img{
                    object-fit: cover;
                }
                .texto-carousel{
                    padding-top: 5rem;
                }
        }
}